<h1>Welcome to FDA Import Alerts</h1>

<p>
  The FDA freely publishes <%= link_to 'import alerts.', "http://www.fda.gov/ForIndustry/ImportProgram/ImportAlerts/" %>
  However, the data access isn't the most friendly.
</p>
<h3>Would email updates to one of the FDA alerts be useful to you?</h3>
<p>
  The data contained on this site is collected from the FDA site.
  It is provided in a more friendly format, available for email updates, and API access.
</p>
