<div class="row">
  <div class="col-sm-12 col-md-offset-2 col-md-8">
    <h1>FDA Import Alert Notifications</h1>
<p>
  The Food and Drug Administration (FDA) is responsible for keeping the American public safe by regulating the products and goods sold and imported into the U.S. Individuals who own businesses that regularly ship to the states must stay up-to-date with the latest import alerts established by the FDA.
</p>

<h2>Import bans impact business</h2>
<p>
When an import alert is placed for your business it will stop shipments of your products into the US. This can be costly for you and your customers, and keeping current with FDA alerts requires constantly monitoring their lists, distracting you from more important tasks.
</p>
<h2>We can help</h2>
<p>
  Interested in receiveing notifications? <%= link_to 'Let us know.', new_contact_path %> 
</p>
  </div>

</div>
