<h1>Pesticides Alerts</h1>
<h2>Import Alert 99-08: Detention Without Physical Examination Of Processed Foods for Pesticides</h2>
<p>Data collected from the <%= link_to 'FDA site', "http://www.accessdata.fda.gov/cms_ia/importalert_259.html"%>.</p>
