<div class="row">
  <h1>Pesticides Alerts</h1>
  <h3>Import Alert 99-08: Detention Without Physical Examination Of Processed Foods for Pesticides</h3>
</div>
<div>
<ul>
<% @companies.each do |company| %>
  <li><strong><%= company.name %></strong></li>
  <ul>
  <% company.products.each do |product| %>
    <li><%= "#{product.name.gsub(/([0-9]{2}\W[A-Z,-]\W[A-Z,-]\W[A-Z,-]\W[0-9,-]{2}\W\W)/, "")} - #{product.date_published.strftime("%m/%d/%Y")} "%></li>
  <% end %>
  </ul>
<% end %>
</ul>
</div>

<p>Data collected from the <%= link_to 'FDA site', "http://www.accessdata.fda.gov/cms_ia/importalert_259.html"%>.</p>
