<div class="row">
  <h1>Pesticides Alerts</h1>
  <h3>Import Alert 99-08: Detention Without Physical Examination Of Processed Foods for Pesticides</h3>
</div>


<div class="container">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <table class="table table-striped">
      <thead>
        <th>Company</th>
        <th>Last Published</th>
        <th>Products</th>
      </thead>
      <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><strong><%= link_to company.name, company_path(company) %></strong></td>
          <td class='text-center'><%= last_published company %></td>
          <td class='text-center'><span class="badge"><%= company.products_count %></span></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
<p>Data collected from the <%= link_to 'FDA site', "http://www.accessdata.fda.gov/cms_ia/importalert_259.html"%>.</p>
</div>