<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= @company.name %><br>
      </div>

      <div class="panel-body">
        <small><%= format_address @company.address %></small><br>
      </div>

      <ul class="list-group">
      <% @products.each do |product| %>
        <li class="list-group-item">
          <%= link_to(format_product_name(product.name), product_path(product)) + " | " + product.date_published.strftime("%m/%d/%Y") %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>

